# This file is used to store environment variables that are specific to your local development environment.
# Copy this file to one of the following and fill in the values:
# - .env.local (default Next.js local env file; recommended to use rur-26-dev config here for local dev)
# - .env.rur-24-prod (production - RUR 24, previous year)
# - .env.rur-26-prod (production - RUR 26, current year)
# - .env.rur-26-dev (development - RUR 26; can be copied into .env.local for local dev)
#
# Use npm scripts to run with specific environments:
# - npm run dev:rur-24-prod    (run locally with rur-24-prod config)
# - npm run dev:rur-26-prod   (run locally with rur-26-prod config)
# - npm run dev:rur-26-dev       (run locally with rur-26-dev config)
# - npm run dev           (run locally with default .env.local)

NEXT_PUBLIC_API_KEY=<firebase_api_key>
NEXT_PUBLIC_AUTH_DOMAIN=<firebase_auth_domain>
NEXT_PUBLIC_PROJECT_ID=<firebase_project_id>
NEXT_PUBLIC_STORAGE_BUCKET=<firebase_storage_bucket>
NEXT_PUBLIC_MESSAGING_SENDER_ID=<firebase_messaging_sender_id>
NEXT_PUBLIC_APP_ID=<firebase_app_id>
NEXT_PUBLIC_STATUS=<environment_status>